// variables
$color-white: #fff;
$color-black: #0D0D10;
$color-black-light: #474747;
$color-accent: #fcff65;
$color-accent-dark: #f6fa2a;
$color-blue: #00b3ff;
$color-blue-dark: #0073ff;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: $color-white;
	color: $color-black;
	font-family: 'Nunito', sans-serif;
	height: 200vh;
}

a {
	color: $color-blue;
	transition: color 125ms;

	&:hover {
		color: $color-blue-dark;
	}
}

img {
	max-width: 100%;
	display: block;
}

nav {
	background-color: $color-accent;
	padding: clamp(0.8rem, 1.5rem, 10vh);
	// padding: 1.7rem;
	font-family: 'Heebo', sans-serif;
	display: flex;

	a {
		padding: 0 1.2rem;
		text-decoration: none;
		align-items: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		color: $color-black;

		&:hover {
			color: $color-black-light;
		}
	}

	.dark-mode-toggle {
		background-color: $color-black;
		color: $color-white;
		margin-left: auto;	
		border: none;
		border-radius: 0.4rem;
		padding: 0.2rem 0.3rem;
		cursor: pointer;

		&:hover {
			background-color: $color-black-light;
		}
	}
}

header {
	position: relative;
	overflow: hidden;
	padding: 3rem 1rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;

	& > * {
		z-index: 1;
		position: relative;
	}

	h1 {
		font-family: 'Caveat Brush', cursive;
		font-size: 2.5rem;
		padding: 0;
		margin: 0;
		text-align: center;
		color: $color-black;
	}

	img {
		display: flex;
		margin: 1rem auto;
	}

	.bg-circle {
		z-index: 0;
		position: absolute;
		border-radius: 100%;
		background: linear-gradient(0deg, $color-accent 0%, $color-accent-dark 100%);
	}

	.bg-circle-1 {
		height: clamp(20rem, 30rem, 60rem);
		width: clamp(20rem, 30rem, 60rem);
		bottom: -15rem;
		left: -15rem;
	}

	.bg-circle-2 {
		height: 35rem;
		width: 35rem;
		top: -15rem;
		right: -15rem;
	}

	.bg-circle-3 {
		height: 15rem;
		width: 15rem;
		bottom: -10rem;
		right: 0%;
	}

	.bg-circle-4 {
		height: 10rem;
		width: 10rem;
		top: -5rem;
		right: 65%;
	}
}

section {
	padding: 3rem 1rem;

	h2 {
		font-size: 2rem;
		text-align: center;
	}
	
	p {
		font-size: 1.2rem;
	}
}

.why-linux {
	background-color: $color-black;
	color: $color-white;
	z-index: 1;
	text-align: center;

	.reasons {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-gap: 1rem;

		div {
			padding: 1rem;
			border-radius: 0.5rem;
			text-align: center;
        	// box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
			// background-image: linear-gradient(to bottom right, #f1f1f1, #ddd);
			background-color: rgba(53, 53, 59, 0.2);
			backdrop-filter: blur(10px); 
			color: #f1f1f1;

			h3 {
				font-size: 1.2rem;
			}

			p {
				font-size: 1.1rem;
			}

			&:hover {
				// background: $color-blue;
				transform: scale(1.1);
				transition: transform 100ms ease;
				border: 5px 
			}
		}
	}
}

.distro-confusion {
	margin: -25vw 1rem 1rem 1rem;

	.distros {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-gap: 1rem;
		
		.card {
			border-radius: 0.5rem;
			img {
				border-radius: 0.5rem;
				box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
			}
			
			&:hover {
				box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 20px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
				transform: scale(1.1);
				transition: transform 200ms ease;
			}
		}
	}
}


footer {
	background-color: $color-accent;
	padding: 3rem 2rem;
}

.spacer {
	aspect-ratio: 900/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 2;
}

// .layer1 {
// 	position: absolute;
// 	top: 20%;
// 	background-image: url('images/wave-haikei-top.svg');
// }

.layer2 {
	// background-image: url('images/wave-haikeiorig.svg');
	background-image: url('images/new-color-waves.svg');
}

::selection {
	background-color: rgba($color-blue, 0.6);
	color: $color-black;
}

::-moz-selection { /* Code for Firefox */
	background-color: rgba($color-blue, 0.6);
	color: $color-black;
}

::-webkit-selection { /* Code for Firefox */
	background-color: rgba($color-blue, 0.6);
	color: $color-black;
}

@media (min-width: 50em) {
	header {
		display: flex;
		padding: 3rem 1rem;
		flex-wrap: wrap;
		width: 100%;

		h1 {
			padding: 1rem 0;
			text-align: left;
			max-width: 90%;
			font-size: 3.5rem;
		}

		img {
			display: flex;
			margin-right: 0;
			align-self: flex-start;
		}
	}
}